{% extends "taskApp/base.html" %}
{% load static %}
{% block body_block %}
<div class="jumbotron">
  {% if added %}
        <h3>Task Added!</h3>
        <a href="{% url 'taskApp:myTask' %}">return to home</a>
  {% else %}
    <h3>Add the task:</h3>

    <form  enctype="multipart/form-data"  method="post">
      {% csrf_token %}
      {{ task_form.as_p }}
      <button type="submit" value="add" id="button1" class="btn btn-success">ADD!!</button>
    </form>
    <br>
    <form  action="{%  url 'taskApp:myTask' %}"  method="post">
      {% csrf_token %}
      <button type="submit" id="button2" value="cancel" class="btn btn-danger">Cancel</button>
    </form>
  {% endif %}

</div>

{% endblock %}
