{% extends "taskApp/base.html" %}
{% load static %}
{% block body_block %}

<div class="jumbotron text-center">
  <h2>Welcome {{ user }}</h2>

  {% if task_obj %}
      {% if added %}
      <div class="alert alert-success">
        <h3>Task successfully added!</h3>
      </div>
      {% endif %}

      {% if edited %}
      <div class="alert alert-success">
        <h3>Task successfully Edited!</h3>
      </div>
      {% endif %}

      {% if msg %}
        <script type="text/javascript">
          alert("tick mark the status of the task and then click on \"Mark as completed\"");
        </script>
      {% endif %}
      <p><em>To mark a task as completed , tick the checkbox corresponding to the task and hit the button !</em></p>
      <p><em>To edit a task, click on the corresponding label </em></p>
      <br>
      <table class="table table-hover">
          <thead>
              <th>Label</th>
              <th>Due Date</th>
              <th>Status</th>
          </thead>
          {% for t in task_obj %}
            {% if t.status == False %}
            <tr>
                <td><a href="{% url 'taskApp:edit' t.id %}">{{ t.label }}</a></td>
                <td>{{ t.date }}</td>
                <td><form action="{%  url 'taskApp:toggle' %}" method="post">
                      {% csrf_token %}
                      <input type="checkbox" id="checkbox" name="status" value="{{t.id}}">
                      <button type="submit" value="Mark as complete" class="btn btn-success">Mark as complete!!</button>
                      <!-- <input type="submit"  value="Mark as complete"> -->
                    </form></td>
            </tr>
            {% endif %}

          {% endfor %}
      </table>
      <br><br>
      <h3>Archieved tasks</h3>
      <br>
      <table class="table table-bordered">
          <thead>
              <th>Label</th>
              <th>Due Date</th>
              <th>Status</th>
          </thead>
          {% for t in task_obj %}
            {% if t.status == True %}
              <tr>
                <td>{{ t.label }}</td>
                <td>{{ t.date }}</td>
                <td>completed</td>
              </tr>
            {% endif %}
          {% endfor %}
      </table>


  {% else %}
      <br><br><br>
      <p>You have not added any tasks</p>
      <br>
      <p>Make one now !!</p>
      <form action="{%  url 'taskApp:addTask' %}" method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" align="center" class="btn btn-success">Add Task!!</button>
            </div>
      </form>
  {% endif %}

</div>


{% endblock %}
